@model ProductEditViewModel
<div class="row orderForm">

    <form asp-controller="Book" asp-action="Update" method="post" class="form-horizontal" role="form">
        <h3 class="col-md-offset-2">Update product</h3>
        @Html.HiddenFor(m => Model.Product.Id)
        <div class="form-group">
            <label asp-for="Product.Category" class="col-md-2 control-label"></label>
            <div class="col-md-6">

                @Html.DropDownListFor(m => m.Product.CategoryId,
                                        new SelectList(Model.Categories.Select(x => new { Value = x.Id, Text = x.Name }), "Value", "Text"),
                                        htmlAttributes: new { @class = "form-control border-input" })
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Product.Name" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Product.Name" class="form-control" placeholder="Edit product name" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Product.QuantityInPackage" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Product.QuantityInPackage" class="form-control" placeholder="Edit quantity in package" />
                <span asp-validation-for="Product.QuantityInPackage" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Product.Price" class="col-md-2 control-label"></label>
            <div class="col-md-6">
                <input asp-for="Product.Price" class="form-control" placeholder="Edit product price" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group col-md-offset-2 col-md-6">
                <input class="btn btn-default" type="submit" value="Return" asp-controller="Product" asp-action="List" />
                <input class="btn btn-success" type="submit" value="Update" />
            </div>
        </div>
    </form>
</div>